@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: ReadexPro;
  src: url("./assets/fonts/readex_pro/readex-pro-latin-200-normal.woff2")
      format("woff2"),
    url("./assets/fonts/readex_pro/readex-pro-latin-200-normal.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: ReadexPro;
  src: url("./assets/fonts/readex_pro/readex-pro-latin-300-normal.woff2")
      format("woff2"),
    url("./assets/fonts/readex_pro/readex-pro-latin-300-normal.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: ReadexPro;
  src: url("./assets/fonts/readex_pro/readex-pro-latin-400-normal.woff2")
      format("woff2"),
    url("./assets/fonts/readex_pro/readex-pro-latin-400-normal.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ReadexPro;
  src: url("./assets/fonts/readex_pro/readex-pro-latin-500-normal.woff2")
      format("woff2"),
    url("./assets/fonts/readex_pro/readex-pro-latin-500-normal.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: ReadexPro;
  src: url("./assets/fonts/readex_pro/readex-pro-latin-600-normal.woff2")
      format("woff2"),
    url("./assets/fonts/readex_pro/readex-pro-latin-600-normal.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: ReadexPro;
  src: url("./assets/fonts/readex_pro/readex-pro-latin-700-normal.woff2")
      format("woff2"),
    url("./assets/fonts/readex_pro/readex-pro-latin-700-normal.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}

@theme inline {
  --default-font-family: ReadexPro, sans-serif;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-badge: var(--badge);
  --color-badge-foreground: var(--badge-foreground);
  --color-copy: var(--copy);
  --color-copy-light: var(--copy-light);
  --color-copy-lighter: var(--copy-lighter);
  --color-copy-negative: var(--copy-negative);
  --color-copy-negative-light: var(--copy-negative-light);
  --color-copy-negative-lighter: var(--copy-negative-lighter);
  --color-purply-blue: var(--purply-blue);
  --color-neon-blue: var(--neon-blue);
  --color-azul: var(--azul);
  --color-yellowish-green: var(--yellowish-green);
  --color-la-salle-green: var(--la-salle-green);
  --color-neon-pink: var(--neon-pink);
  --color-purple-daffodil: var(--purple-daffodil);
  --color-goldenrod: var(--goldenrod);
  --color-strawberry: var(--strawberry);
  --color-mirage-black: var(--mirage-black);
  --color-ebony-clay-black: var(--ebony-clay-black);
  --color-blueviolet: var(--blueviolet);
  --color-mediumblue: var(--mediumblue);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.942 0.027461 265.4508); /* 1 0 0 */
  --foreground: oklch(0.2264 0 0); /* 0.145 0 0 */
  --card: oklch(0.9121 0.026 266.6); /* 1 0 0 */
  --card-foreground: oklch(0.2264 0 0); /* 0.145 0 0 */
  --popover: oklch(0.942 0.027461 265.4508); /* 1 0 0 */
  --popover-foreground: oklch(0.2264 0 0); /* 0.145 0 0 */
  --primary: oklch(0.4966 0.2321 263.66); /* 0.205 0 0 */
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.8608 0.0261 268.82); /* 0.97 0 0 */
  --secondary-foreground: oklch(0.2264 0 0); /* 0.205 0 0 */
  --muted: oklch(0.8905 0.0351 265.98); /* 0.97 0 0 */
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.8762 0.0259 268.82); /* 0.97 0 0 */
  --accent-foreground: oklch(0.2264 0 0); /* 0.205 0 0 */
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.822 0.0302 264.4); /* 0.922 0 0 */
  --input: oklch(0.8664 0.0307 267.18); /* 0.922 0 0 */
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --copy: oklch(0.2264 0 0);
  --copy-light: oklch(0.4604 0 0);
  --copy-lighter: oklch(0.5624 0 0);
  --copy-negative: oklch(0.9612 0 0);
  --copy-negative-light: oklch(0.6797 0 0);
  --copy-negative-lighter: oklch(0.8141 0 0);
  --badge: oklch(0.8964 0.0499 265.39);
  --badge-foreground: oklch(0.2264 0 0);
  --purply-blue: oklch(0.5123 0.2621 276.78);
  --neon-blue: oklch(0.8033 0.1399 222.07);
  --azul: oklch(0.4966 0.2321 263.66);
  --yellowish-green: oklch(0.8178 0.2096 126.55);
  --la-salle-green: oklch(0.5445 0.1528 149.06);
  --neon-pink: oklch(0.6538 0.2355 350.04);
  --purple-daffodil: oklch(0.6291 0.2546 308.21);
  --goldenrod: oklch(0.7866 0.147 74.77);
  --strawberry: oklch(0.6418 0.2412 26.97);
  --mirage-black: oklch(0.2168 0.0151 261.62);
  --ebony-clay-black: oklch(0.2701 0.0396 265.29);
  --blueviolet: oklch(0.5982 0.2813 306.24);
  --mediumblue: oklch(0.4544 0.2536 276.15);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.3555 0.0262 264.16); /* 1 0 0 / 10% */
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --copy: oklch(0.9612 0 0);
  --copy-light: oklch(0.6797 0 0);
  --copy-lighter: oklch(0.8141 0 0);
  --copy-negative: oklch(0.2264 0 0);
  --copy-negative-light: oklch(0.4604 0 0);
  --copy-negative-lighter: oklch(0.5624 0 0);
  --badge: oklch(0.2379 0.0278 259.95);
  --badge-foreground: oklch(0.9612 0 0);
  --purply-blue: oklch(0.5123 0.2621 276.78);
  --neon-blue: oklch(0.8033 0.1399 222.07);
  --azul: oklch(0.4966 0.2321 263.66);
  --yellowish-green: oklch(0.8178 0.2096 126.55);
  --la-salle-green: oklch(0.5445 0.1528 149.06);
  --neon-pink: oklch(0.6538 0.2355 350.04);
  --purple-daffodil: oklch(0.6291 0.2546 308.21);
  --goldenrod: oklch(0.7866 0.147 74.77);
  --strawberry: oklch(0.6418 0.2412 26.97);
  --mirage-black: oklch(0.2168 0.0151 261.62);
  --ebony-clay-black: oklch(0.2701 0.0396 265.29);
  --blueviolet: oklch(0.5982 0.2813 306.24);
  --mediumblue: oklch(0.4544 0.2536 276.15);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .dot {
    animation: dot-fade 1s infinite;
    opacity: 0;
  }

  .dot:nth-child(2) {
    animation-delay: 0.3s;
  }

  .dot:nth-child(3) {
    animation-delay: 0.6s;
  }

  @keyframes dot-fade {
    0%,
    100% {
      opacity: 0.5;
    }
    50% {
      opacity: 1.5;
    }
  }
}
